@charset utf-8;

/*웹폰트 설정 css*/
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Open+Sans:wght@600&display=swap');

html, body, div, span, iframe, h1, h2, h3, h4, h5
h6, p, fieldset, form, legend, article, section, aside, footer,
ol, ul, li, nav, time, img, label, header {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    /*다른배경색과의 충돌을 없애기 위해서 투명하게 함*/
    background-color: transparent;
}

body{
    font-family: 'Open Sans', '나눔고딕', '굴림';
    line-height: 1.2;
}

article, aside, footer, header, nav, section{
    display: block;
    
}

nav ul, li{
    list-style-type: none; /*블릿없애기*/
}

a {
    margin: 0;
    padding: 0;
    font-size: 101%;
    vertical-align: baseline;
    background-color: transparent;
    text-decoration: none;
}

img {
    vertical-align: top;
}

hr{
    display: block;
    height: 3px;
    border: 0.2px;
    margin: 0.1px;
    padding: 0px;
}

input, textarea{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0;
    border-bottom: 1px solid gray;
    color: deepskyblue;
    font-family: 'Open Sans';
    font-size: 12px;
    vertical-align: top;
    border-radius: 0;
    box-sizing: content-box;
    appearance: none;
}













